  
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
}

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    padding: 10% 0% 0% 0%;
}

section {
    height: 100%;
    max-height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    background-image: url('../images/chris.jpg'); 
}

.section-2 {
    height: 100%;
    max-height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    filter: grayscale(100%);
    background-image: url('https://images.unsplash.com/photo-1495711015780-fd46fc6b852d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); 
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


.navbar-light .navbar-brand {
    font-family: 'Raleway', sans-serif;
    color: rgb(226, 60, 60);
}

a {
    text-decoration: none !important;
    color: black;
} 

a:hover {
    color: white;
}

.title {
    font-family: 'Lora', serif;
    font-size: 70px;
    text-transform: uppercase;
}

hr {
    background-color: white;
}

.head{
    text-align: center;
    position: relative;
}

.subhead{
    text-transform: uppercase;
    /* border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f; */
    padding: 12px 0 12px 0;
    font-size: 20px;
    color: #ffc107;
    font-family: 'Montserrat', sans-serif;

}

.content{
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;

}

.page-header {
    height: auto;
    min-height: 150px;
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    padding: 05%;
}

.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    min-height: 300px;
    display: inline-block;
    padding: 05% 20% 05% 20%;
    vertical-align: top;
    letter-spacing: 05px;
    text-align: center;
    color: white;
    background-color: rgb(226, 60, 60);
    font-family: 'Montserrat', sans-serif;
}

.collumn, p {
    font-size: 30px;
}

.footer {
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 05% 02% 05% 02%;
    color: rgb(226, 60, 60);
    font-family: 'Montserrat', sans-serif;
}

/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/

@media only all and (max-width: 1080px) {
    .subhead{
        font-size: 20px;
    }
    .navbar-item, .nav-link, a {
        font-size: 20px;
    }
}


@media only all and (max-width: 1200px) {
    .collumn {
        width: 100%;
        padding: 10% 20% 10% 20%;
    }
    .collumn, p {
        font-size: 20px;
    }

}
    @media only all and (max-width: 900px) {
    .collumn {
        width: 100%;
        padding: 05%;
    }
    .collumn, p {
        font-size: 15px;
    }
    .page-header {
        padding-top: 20%;
    }

}
@media only all and (max-width: 600px) {
    .collumn {
        width: 100%;
        padding: 10% 05%;
    }
    .collumn, p {
        font-size: 12px;
    }
    .page-header {
        padding-top: 20%;
    }
   
header{
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1080px) {
    .collumn {width: 100%; font-size: 1.2rem;}
    .footer {font-size: 1.2rem;}
  }
 
