<html>
<head>
    <meta charset="utf-8">
    <meta name="Skov Music" content="width=device-width, initial-scale=1.0">
    <title>Skov. - Discography </title>
    <meta description="Skov. Music">
    <meta keywords="Victoria BC, Canada, Skov. Music">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'new_app/css/disc-css.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width">

    <!-- GOOGLE FONTS  -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <!-- ICON LINKS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'new_app/images/apple-touch-icon.png' %}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'new_app/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'new_app/images/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    

</head>
  <style>
      a {
          color: black !important;
      }
  </style>
<body>
        <!-- ** ----- TOP NAV BAR ----- ** -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand " href="#"><font style="color: rgb(226, 60, 60)">Skov.</font></a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/disc">Discography</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
  
        <!-- ** ----- HEADER IMAGE ----- ** -->
  
        <div class="head">
          <div class="headerobjectswrapper">
            <section>
              <div class="overlay">
                <header style="color: rgb(226, 60, 60)" class="">Skov.
                  <h2 id="about"> <a target="blank" href="https://www.instagram.com/chriseriksenmusic/?hl=en"><i class="fa fa-instagram link" style="color:white; font-size:24px" aria-hidden="true"></i></a> <a href="https://geo.music.apple.com/us/artist/skov/1501059364?mt=1&app=music" ><i class="fa fa-apple link" style="color:white; font-size:24px"></i></a>
                    <a href="https://open.spotify.com/artist/5tpiMGYTziZVZL6iwrjJmk"><i class="fa fa-spotify link" style="color:white; font-size:24px"></i></a><a href="https://www.facebook.com/Skov.music/"><i class="fa fa-facebook link" style="color:white; font-size:24px"></i></a></h2></header>
              </div>
            </div>
          </section>
        </div>


      <div class="collumn">
        <div class="head">
          <span>
            <p class="title ">Discography</p>
            <br>
            <br>
          </span>
        </div>
        <h3>Supernatural (feat. Vrtue & Quinn Colpman) - Single</h3>
        <br>
        <img class="album-cover" src="{% static 'new_app/images/skov1.png' %}">
        <br>
        <br>
        <a href="https://music.apple.com/us/album/supernatural-feat-vrtue-quinn-colpman-single/1536441881"><img class="svg" src="https://www.flaticon.com/svg/static/icons/svg/831/831337.svg"></a>&nbsp;<a href="https://open.spotify.com/artist/5tpiMGYTziZVZL6iwrjJmk"><img class="svg" src="https://www.flaticon.com/svg/static/icons/svg/2111/2111685.svg"></a>
        <br>
        <br>
        <hr>
        <br>
        <h3>Corners - EP</h3>
        <br>
        <img class="album-cover" src="{% static 'new_app/images/skov2.png' %}">
        <br>
        <br>
        <a href="https://music.apple.com/us/album/corners-ep-instrumental/1525662891"><img class="svg" src="https://www.flaticon.com/svg/static/icons/svg/831/831337.svg"></a>&nbsp;<a href="https://open.spotify.com/album/1bRUIulqwEHn345zaF261v"><img class="svg" src="https://www.flaticon.com/svg/static/icons/svg/2111/2111685.svg"></a>
        <br>
        <br>
        <hr>
        <br>
        <h3>So Cold - Single</h3>
        <br>
        <img class="album-cover" src="{% static 'new_app/images/skov3.png' %}">
        <br>
        <br>
        <a href="https://music.apple.com/us/album/so-cold-single/1501061217"><img class="svg" src="https://www.flaticon.com/svg/static/icons/svg/831/831337.svg"></a>&nbsp;<a href="https://open.spotify.com/album/16bBtYWcIr3PW69qPHvJtr"><img class="svg" src="https://www.flaticon.com/svg/static/icons/svg/2111/2111685.svg"></a>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <br>
     
      </div>
    <div class="section-2">
        <div class="collumn">
                <p class="title color">Listen Now</p>
                <hr>
                <br>
                <a href="https://geo.music.apple.com/us/artist/skov/1501059364?mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=&kind=artist&bubble=apple_music) no-repeat;width:158px;height:45px;"></a>
                <br>
                <br>
                <a href="https://open.spotify.com/artist/5tpiMGYTziZVZL6iwrjJmk"><img class="svg" src="{% static 'new_app/images/spotify.svg' %}"></a>
                
        
        </div>
    </div>


<div class="footer">
  <span>&copy; Skov. Music</span>
  <span><small><font style="color: black"><p>site by <a class="btn btn-light" href="http://webspacestudio.ca">web space studio</a></p></font></small></span>
</div>


<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"></link>

</body>
</html>